# SPDX-License-Identifier: GPL-3.0-only

[Desktop Entry]
Name=Personal Calendar
GenericName=Personal Calendar Application
GenericName[ca]=Aplicació de calendari personal
GenericName[ca@valencia]=Aplicació de calendari personal
GenericName[el]=Εφαρμογή προσωπικού ημερολογίου
GenericName[en_GB]=Personal Calendar Application
GenericName[es]=Aplicación de calendario personal
GenericName[fr]=Application de calendrier personnel
GenericName[it]=Applicazione di calendario personale
GenericName[nl]=Persoonlijke kalender toepassing
GenericName[pt]=Aplicação de Calendário Pessoal
GenericName[sl]=Osebna aplikacija koledarja
GenericName[sv]=Personlig kalenderprogram
GenericName[uk]=Програма особистого календаря
GenericName[x-test]=xxPersonal Calendar Applicationxx
Comment=Manage your personal calendar, tasks and events
Version=1.0
Exec=kalendar
Categories=Qt;KDE;Office;Calendar;
Icon=org.kde.kalendar
Type=Application
Terminal=false
StartupNotify=true
